@media (max-width: 767px) {
    .site-navigation {
        margin-bottom: 114px;
    }
    .site-logo {
        margin-bottom: 28px;
    }
    .list-partners {
        margin-bottom: 30px;
    }
    .list-item-partners:not(:last-child) {
        margin-bottom: 26px;
    }
}

/* TABLET */

@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 10px;
    }
    /* HEADER */
    .menu-section {
        background-image: url(../img/Tablet.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-nav {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 143px;
    }
    .about-site {
        width: 504px;
        margin: 0 auto;
    }
    .title-menu-section {
        font-size: 52px;
        margin-bottom: 30px;
    }
    .text-menu-section {
        font-size: 24px;
        margin-bottom: 36px;
    }
    .search-menu-section {
        padding: 12px 20px;
        margin-bottom: 234px;
    }
    /* SECTION PARTNERS */
    .title-partners {
        margin-bottom: 36px;
    }
    .list-partners {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 38px;
    }
    .search-partners {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width:1199px) {
    .list-item-partners:not(:nth-last-child(-n+2)) {
        margin-bottom: 56px;
    }
    .page-nav {
        width: 664px;
    }
    .list-partners {
        width: 504px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 940px;
        margin: 0 auto;
        padding: 0;
    }
     /* HEADER */
     .menu-section {
        background-image: url(../img/Desktop.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-nav {
        display: flex;
    }
    /* SECTION PARTNERS */
    .search-partners {
        margin-bottom: 74px;
    }

}