@media (max-width: 747px) {
    .site-navigation {
        margin-bottom: 114px;
    }
    .site-logo {
        margin-bottom: 28px;
    }
    .list-partners {
        margin-bottom: 30px;
    }
    .list-item-partners:not(:last-child) {
        margin-bottom: 26px;
    }
    .text-menu-section {
        max-width: 224px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* TABLET */

@media (min-width: 748px) {
    .container {
        width: 748px;
        margin: 0 auto;
}
    /* HEADER */
    .menu-section {
        background-image: url(../img/Tablet.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 143px;
    }
    .about-site {
        width: 504px;
        margin-bottom: 234px;
    }
    .title-menu-section {
        font-size: 52px;
        margin-bottom: 30px;
    }
    .text-menu-section {
        font-size: 24px;
        margin-bottom: 36px;
    }
    .search-menu-section {
        padding: 12px 20px;
    }
            
    /* SECTION PARTNERS */
    .title-partners {
        margin-bottom: 36px;
    }
    .list-partners {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    .search-partners {
        margin-bottom: 40px;
    }
    .two {order: 1;}
    .four {order: 2;}
}

@media (min-width: 748px) and (max-width:939px) {
    .list-item-partners:nth-child(odd) {
        margin-bottom: 56px;
    }
    .page-nav {
        width: 100%;
}
    .list-partners {
        width: 504px;
    }    
}

@media (min-width: 940px) {
    .container {
        width: 940px;
        margin: 0 auto;
}
     /* HEADER */
     .menu-section {
        background-image: url(../img/Desktop.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-nav {
        width: 100%;
    }
    /* SECTION PARTNERS */
    .search-partners {
        margin-bottom: 74px;
    }
}